[submodule "src/pypy"]
	path = src/pypy
	url = ssh://git@github.com/sota/pypy
[submodule "src/rply"]
	path = src/rply
	url = ssh://git@github.com/sota/rply
[submodule "src/docopt"]
	path = src/docopt
	url = ssh://git@github.com/docopt/docopt.cpp
[submodule "src/colm"]
	path = src/colm
	url = ssh://git@github.com/sota/colm
[submodule "src/ragel"]
	path = src/ragel
	url = ssh://git@github.com/sota/ragel
